<!DOCTYPE html>
<html>
  <head>
    <title>Saboteur</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
  <header id="header"><img id="imagen" src="../images/Logo.png" alt=":D"></header>
  <aside id="aside">
      <% if (photo!==undefined) { %>
      <img id="imagenUser" src="/users/imagen/<%= id %>" width="50" height="50">
      <% } %>
      <% if(nickname!==undefined){ %>
      <h3><%=nickname%></h3>
      <% } else{ %>
      <h3>Not Logged</h3>
      <% } %>
      </aside>
  <main id="main">
      <p class="Welcome">Welcome  <%=nickname%> </p>
      <label class="labelTitle" for="LobbyGames">Partidas Abiertas</label>
      <table id="LobbyGames">
          <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Number of Players</th>
              <th>  </th>
          </tr>
          <%for (var i = 0; i <games.length; i++){%>
          <%if(games[i].Status =='a'){%>
          <tr>
              <td><%=games[i].Name%></td>
              <td><%=games[i].date%></td>
              <td><%=games[i].MaxUsers%></td>
              <td><div class="button tomato buttonSmall" style="vertical-align: middle"><a href="/game/start/:<%=i%>">Start</a></div></td>
          </tr>
          <%}%><%}%>
      </table>
      <label class="labelTitle" for="LobbyGames">Partidas en Curso</label>
      <table id="LobbyGames">
          <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Number of Players</th>
          </tr>
          <%for (var i = 0; i <games.length; i++){%>
          <%if(games[i].Status =='c'){%>
          <tr>
              <td><%=games[i].Name%></td>
              <td><%=games[i].date%></td>
              <td><%=games[i].MaxUsers%></td>
          </tr>
          <%}%><%}%>
      </table>
      <div class="button partidasButton " style="vertical-align: middle"><a href="/game/join/:<%=id%>">Unirse a partida</a></div>
      <div class="button partidasButton " style="vertical-align: middle"><a href="/game/create/:<%=id%>">Crear partida</a></div>
  </main>
  </div>
  </body>
</html>



