<!DOCTYPE html>
<html>
  <head>
    <title>Saboteur</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
  <header id="header"><img id="imagen" src="../../images/Logo.png" alt=":D"></header>
  <aside id="aside">
      <% if (user) { %>
      <img id="imagenUser" src="/users/imagen/<%= user.id %>" width="50" height="50">
      <% } %>
      <% if(user.nickname!==undefined){ %>
      <h3><%=user.nickname%></h3>
      <% } else{ %>
      <h3>Not Logged</h3>
      <% } %>
  </aside>
  <main id="main">
      <p class="Welcome">Welcome  <%=user.nickname%> </p>
      <label class="labelTitle" for="LobbyGames">Partidas Abiertas</label>
      <table id="LobbyGames">
          <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Players</th>
          </tr>
          <%if(user.openGames !==undefined){%>
          <%for (var i = 0; i <user.openGames.length; i++){%>
              <tr>
                  <td><%=user.openGames[i].nombrePartida%></td>
                  <td><%=user.openGames[i].date%></td>
                  <td>
                  <%if(user.openGames[i].players!==undefined){ %>
                  <%for (var j = 0; j <user.openGames[i].players.length; j++){%>
                    <%=user.openGames[i].players[j].Nickname%>
                  <%}}%>
                  </td>
                  <td><div class="button tomato buttonSmall" style="vertical-align: middle"><a href="/table/join/<%=user.id%>/<%=user.openGames[i].idGAMES%>">Join</a></div></td>
              </tr>
          <%}}%>
      </table>
  </main>
  </div>
  </body>
</html>



